certifi==2026.4.22
cffi==2.0.0
charset-normalizer==3.4.7
idna==3.15
numpy==2.4.4
pycparser==3.0
pygame==2.6.1
PyQt6==6.11.0
PyQt6-Qt6==6.11.0
PyQt6_sip==13.11.1
requests==2.34.1
sounddevice==0.5.5
soundfile==0.13.1
urllib3==2.7.0
